 a
 {
 	color: #22BCE0;
 }
 body 
 {
 	background: #EEEEEE;
 	font-family: Arial;
 	font-size: 16px;
 }
 header
 {
 	border: 1px solid red;
 	background: #343B54;
 	color: white;
 	overflow: hidden;
 	padding: 0.5em;
 }
 header figure
 {
 	float: left;
 }
 header h1
 {
 	font-size: 16px;
 	font-weight: normal;
 	margin: 0 70px 0 0;
 }
  header #logo img 
 {
 	border-right: 1px solid white;
 	padding-right: 0,5em;
 	margin-right: 0,5em;
 	width: 52px;
 }
 header #avatar
 {
 	position: absolute;
 }
 header #avatar img 
 {
 	border-radius: 10px;
 	width: 55px;
 }